<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="software.amazon.kinesis.multilang.DrainChildSTDERRTask" level="OFF" />
    <root level="${JAVA_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
